*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}
.div-container img{
    object-fit: contain;
}
.place{
     background-color: #ECF0FF; 
    /* margin-bottom: 2rem; */
}
.place h2{
    text-align:left;
    font-size: 2rem;
    padding: 0 2rem 0 2rem;
}

.details{
    padding: 1rem 2rem 0 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    opacity: 0.5;
    font-weight: 100;
}

.our h3{
    font-size: 40px;
    text-align: center;
    padding-top: 1rem;
}

.our p{
    font-size: 40px;
    text-align: center;
    padding: .5rem 0rem;
}

@media screen and (max-width:1200px) {
    .div-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}